{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <form action="{% url 'save_edit' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="title" value="{{ title }}">
        <label>Markdown Content:</label>
        </br>
        <textarea name="content">{{ content }}</textarea>
        </br>
        <input type="submit" value="save edit" class="btn btn-primary">

    </form>
{% endblock %}